@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideIn {
    from {
        left: -250px;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -250px;
    }
}


.slide-down {
    opacity: 0;
    animation: slideDown 1s forwards;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 32px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    position: relative;
    z-index: 10;
}

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 10px; 
}

.navbar ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    color: white; 
    font-size: 17px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    color: #4070F4;
    transform: scale(1.2); /* Increase size on hover */
}

a.enlace {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a.enlace:hover {
    transform: scale(1.2); /* Increase size on hover */
}

a.enlace.empresa {
    color: white; 
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 18px;
    animation: fadeIn 2s ease-in-out; 
    white-space: nowrap; 
    padding-left: 35px;
}

a.enlace.empresa:hover {
    color: white; 
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #1A2B40;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2A3B50, #1A2B40);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2A3B50, #1A2B40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: left 0.3s ease;
    z-index: 1000;
    display: none; 
    flex-direction: column;
    padding: 20px;
}

.side-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu-list li {
    margin: 10px 0;
}

.side-menu-list li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.side-menu.open {
    display: flex;
    left: 0; 
    transition: left 0.3s ease;
    animation: slideIn 0.3s forwards;
}

.side-menu.open {
    display: flex;
    left: 0; 
    animation: slideIn 0.3s forwards;
    transition: left 0.3s ease;
}

.side-menu.close {
    animation: slideOut 0.3s forwards;
    left: -250px;
    transition: left 0.3s ease;
}

.mobile-nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 22px; 
}
.menu-icon {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-right: 5px; /* Espacio entre la imagen y el texto */
    vertical-align: middle;
}
.banner {
    position: relative;
    min-height: 110vh;
    background-image: url('Imagen\ principal.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100px; 
    display: flex; 
    align-items: center; 
    padding: 0 20px; 
    color:  #efefef; 
    background-attachment: fixed; 
    margin-top: -100px;
    z-index: 1; 
}

.logo {
    position: absolute;
    top: 0,5px; 
    left: 20px;
    z-index: 10; 
}

.logo-empresa {
    max-width: 100px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.banner .content-banner {
    position: relative; 
    z-index: 2; 
    text-align: center; 
    margin: auto; 
    padding-left: 30px;
    
}

.banner .content-banner p {
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
    font-weight: bold;
}

.banner .content-banner h2 {
    text-align: center;
    font-size: 25px;
    margin: 10px auto 0;
    font-weight: bold;
}


nav ul li a.active {
    color: #007bff;
}

.quienes-somos {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    padding: 50px 20px; 
}

.container-quienes-somos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto;
}

.imagen-quienes-somos {
    flex: 1;
    max-width: 50%; 
    margin-right: 20px; 
    border-radius: 25px; 
    background-attachment: fixed; 
}

.texto-quienes-somos {
    flex: 1;
    max-width: 50%; 
}

.texto-quienes-somos h2 {
    font-size: 34px; 
    margin-bottom: 20px; 
}

.texto-quienes-somos p {
    font-size: 19px; 
    color: #555;
}

.highlight {
    color: #4070F4;
}

.nuestra-vision-objetivos {
    position: relative;
    padding: 80px 20px;
    margin: 20px 0;
    color: #efefef; 
    overflow: hidden;
}

.nuestra-vision-objetivos h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.nuestra-vision-objetivos .content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative; 
    z-index: 1; 
}

.nuestra-vision-objetivos .group {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nuestra-vision-objetivos .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nuestra-vision-objetivos .vision,
.nuestra-vision-objetivos .objetivos,
.nuestra-vision-objetivos .valores {
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.nuestra-vision-objetivos .vision h2,
.nuestra-vision-objetivos .objetivos h2,
.nuestra-vision-objetivos .valores h2{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.nuestra-vision-objetivos .vision li,
.nuestra-vision-objetivos .objetivos li,
.nuestra-vision-objetivos .valores li
{
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    list-style: none;

}

/* Background video styles */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.doctor {
    padding: 80px 0;
    font-size: 28px;
    text-align: center;
    background-color: #efefef;
}

.doctores {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #fff;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 5px 0;
    background-color: #efefef; /* Color de fondo para la imagen */
}

.image-content img {
    width: 50%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 25px; /* Ajusta los bordes redondeados si es necesario */

}

.card-image {
    display: none; /* Oculta el círculo */
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #265DF2;
}

.swiper-navBtn {
    color: #6e93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6e93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}
.Nuestra_Experiencia::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 150px;
    background-image: url('patitas_perro.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 100px;
}

.Nuestra_Experiencia {
    background-color: #efefef;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.Nuestra_Experiencia h2 {
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
    margin-top: 100px; /* Ajusta este valor para mover el texto más abajo */
    position: relative;
    margin-left: 30px;
}

.experiencia-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.experiencia-text {
    flex: 1;
    padding-right: 40px;
    text-align: left;
    margin-top: 90px; /* Ajusta este valor para mover el texto más abajo */
}

.experiencia-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-left: 30px;
    position: relative;

}

.experiencia-image {
    flex: 1;
    text-align: right;
}

.experiencia-image img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}


body {
    background: #efefef;
}

.footer {
    position: relative;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    text-align: center;
}

.footer-column {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-column h3 {
    color: #fff;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu {
    list-style: none;
    padding: 0;
}

.menu__item {
    margin: 5px 0;
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    color: grey;
    opacity: 1;
}

.company-photo img {
    max-width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}
@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .container-navbar {
        display: none;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 145px;
    }
    .mobile-nav {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .side-menu {
        width: 200px;
    }
 
    .swiper-navBtn{
        display: none;
    }   
}


@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }

    .side-menu {
        display: none;

        
    .swiper-navBtn{
        display: none;
    }
    }
}
@media screen and (max-width: 768px) {
    /* Ajustes de la cabecera */
    header {
        flex-direction: column;
        padding: 20px;
    }

    /* Ajuste para el menú de navegación */
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        margin: 5px 0;
    }
    .content-banner{
        padding-right: 30px;
    }
    /* Ajuste para la sección de 'quienes somos' */
    .container-quienes-somos {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagen-quienes-somos, .texto-quienes-somos {
        max-width: 100%;
        margin: 10px 0;
        align-items: center;
    }
    .swiper-button-next{
        display: none;
    }
    .swiper-navBtn{
        display: none;
    }
    .swiper-pagination{
    display: none;
    }
    /* Ajuste para la sección de objetivos y visión */
    .nuestra-vision-objetivos .content-box {
        flex-direction: column;
    }
    .experiencia-content {
        flex-direction: column; /* Coloca la imagen debajo del texto */
        align-items: center; /* Centra el contenido */
        text-align: center; /* Centra el texto */
    }
    .Nuestra_Experiencia::before {
        width: 200px;
        height: 150px;
    }
    .experiencia-text {
        text-align: center;

    }

    .experiencia-image {
        margin-top: 20px; /* Espacio entre el texto y la imagen */
        text-align: center; /* Centra la imagen */
    }

    .experiencia-image img {
        max-width: 100%; /* Ajusta el tamaño de la imagen para que no desborde */
        height: auto;
    }

    /* Centra los enlaces de redes sociales */
    .social-media {
        justify-content: center;
    }

    .footer p {
        text-align: center;
    }
}
