@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideIn {
    from {
        left: -250px;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -250px;
    }
}


.slide-up {
    opacity: 0;
    animation: slideUp 1s forwards;
}

.slide-down {
    opacity: 0;
    animation: slideDown 1s forwards;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 32px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    position: relative;
    z-index: 10;
}

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 10px; 
}

.navbar ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    color: white; 
    font-size: 17px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    color: #052a8fd0;
    transform: scale(1.2); /* Increase size on hover */
}

a.enlace {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a.enlace:hover {
    transform: scale(1.2); /* Increase size on hover */
}

a.enlace.empresa {
    color: white; 
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 18px;
    animation: fadeIn 2s ease-in-out; 
    white-space: nowrap; 
    padding-left: 35px;
}

a.enlace.empresa:hover {
    color: white; 
}


.banner {
    position: relative;
    min-height: 110vh;
    background-image: url('Imagen\ principal.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100px; 
    display: flex; 
    align-items: center; 
    padding: 0 20px; 
    color:  #efefef; 
    background-attachment: fixed; 
    margin-top: -100px;
    z-index: 1; 
}

.logo {
    position: absolute;
    top: 0,5px; 
    left: 20px;
    z-index: 10; 
}

.logo-empresa {
    max-width: 100px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}


.banner .content-banner {
    position: relative; 
    z-index: 2; 
    text-align: center; 
    margin: auto; 
    padding-left: 30px;
    
}

.banner .content-banner p {
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
    font-weight: bold;
}

.banner .content-banner h2 {
    text-align: center;
    font-size: 25px;
    margin: 10px auto 0;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a.active {
    color: #007bff;
}